@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");

* {
	margin: 0;
	padding: 0;
	list-style: none;
    box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #fefee3!important;
	font-family: Arial, Helvetica, sans-serif;
}

/* 功能列 */
.topnav {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #2c6e49;
	height: 4.1em;
	z-index: 9;
}

.logoImg {
	display: inline-block;
	margin-top: 0;
	width: 280px;
	height: 100%;
	cursor: pointer;
}

.icon {
	width: 30px;
	height: 30px;
}

.topnav a {
	float: left;
	padding: 18px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav .list-inline {
	position: fixed;
	top: 0;
	right: 0;
	float: right;
	display: flex;
}

.topnav a:hover {
	background-color: rgb(154, 153, 153);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 65px;
	background-color: #f7f0f0;
	min-width: 9em;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content>ul {
	justify-content: center;
	display: grid;
	padding: 0;
}

.dropdown:hover .dropdown-content {
	display: block;
	right: 0 !important;
	left: revert;
}

.contentArea {
	height: 100%;
}

/* sidebars */
.side-menu {
	width: 15%;
	height: 100%;
	padding: 50px 0;
	position: fixed;
	left: 0;
	background-color: #9ebc9e;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 0px 10px hsla(240, 40%, 15%, .6);
}

.side-menu .nav a {
	min-height: 4em;
	font-size: larger;
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
	position: relative;
	font-family: 'Noto Sans TC', sans-serif;
}

.side-menu .nav a .fa {
	margin-right: -1.1em;
	transform: scale(0);
	transition: .3s;
}

.side-menu .nav a:hover .fa {
	margin-right: 0em;
	transform: scale(1);
}

.side-menu .nav {
	display: inline-block;
}

.nav ul {
	display: none;
	left: 100%;
	top: 6px;
	background-color: rgb(130 59 11 / 20%);
	box-shadow: 5px 5px 10px hsla(240, 40%, 15%, .6);
}

.nav li:hover>ul {
	display: block;
}

.nav li:hover {
	background-color: rgb(130 59 11 / 20%);
}

.nav>li>a:hover {
	background-color: rgba(4, 255, 226, 0.2) !important;
}

#cart span{
	background-color: rgb(67, 95, 236);
	padding: 0px 6px;
	border-radius: 50px;
	color: #ffffff;
	font-size: small;
	font-family: 'Noto Sans TC', sans-serif;
	position: relative;
	right: 7px;
	bottom: 3px;
}